@import "variables";
@import "mixins";

// id = .
//div = #

html ,body {
    margin : 0;
    font-family: 'Montserrat', sans-serif;
    transition: background-color .5s;
  }

  a{
    text-decoration: none;
    color: white;
  }

  //NAVBAR
  #nav {
    display: flex;
    max-width: $navwidth;
    height: $navheigt;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $txtcolor ;
    background: $bgcolor;
    flex-direction: row;
    justify-content: space-around;
}


//SideNav

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $bgcolor;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
  transition: margin-left .5s;
  padding: 20px;
  position: absolute;
}

//section  
#error {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;
  text-align: center;
}

//image
#divastro{
  width: $astrowdth;
  height: $astrohgh;
  display: block;
  margin: auto;
  position: relative;
}
#astronaute{
  display: block;
  width: $divwdth;
  height: $divhgh;
}
h1{
  animation-name: none; 
  animation-duration: 2s; 
  animation-timing-function: ease-out; 
  animation-delay: 2s; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  animation-fill-mode: forwards;
}

@keyframes Error {
  from {
    width: 100%;
  }
  50%{
    width: 50%;
    height: auto;
  }
  to{
    width: 25%;;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}